#StartDiv{
    /* position de la Div */
    position: absolute;
    top: 100px;
    left: 100px;

    /* Bordure */
    border: solid;
    border-color: black;
    border-width: 3px;
}
#Cellule1{
    /* position de la Div */
    position: absolute;

    /* Bordure */
    border: solid;
    border-color: black;
    border-width: 1px;
}
#Cellule2{
    /* position de la Div */
    position: absolute;

    /* Bordure */
    border: solid;
    border-color: black;
    border-width: 1px;
}
#Cellule3{
    /* position de la Div */
    position: absolute;

    /* Bordure */
    border: solid;
    border-color: black;
    border-width: 1px;
}
#Cellule4{
    /* position de la Div */
    position: absolute;

    /* Bordure */
    border: solid;
    border-color: black;
    border-width: 1px;
}
#Bacterie{
  /* position */
  position: absolute;

  /* Brodure */
  border-radius: 20px;
  border: solid;
  border-color: black;
  border-width: 1px;

  /* Couleur */
  background-color: red;




}
